<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%- include('partials/text_font.ejs') %>
    <link rel="stylesheet" href="style/style.css">
    <title>Movie Note</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/cookie.ejs') %>
    
    <div class="signup-centerer">
        <div class="signup-container">
            <h1>Sign Up</h1>
            <form action="/signup" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" title="can only contain letters, numbers, and underscores, and must be between 3 and 18 characters long" pattern="^[a-zA-Z0-9_]{3,20}$" required autocomplete="username" list="custom-datalist">
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"autocomplete="off">
                <br>
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirmPassword" autocomplete="off">
                <br>
                <button class="primary-button" type="submit">Sign Up</button>
                <p class="login-link">Already have an account? <a href="/login">Log in</a></p>
            </form>
        </div>
    </div>

    <% if (locals.error) { %>
        <div class="error-container">
            <p id="error-message" class="error-message"><%= error %></p>
        </div>
    <% } %>

    <%- include('partials/theme.ejs') %>

    <script>
    function check(input) {
        if (input.id === "confirm-password") {
            const password = document.getElementById("password").value;
            if (input.value !== password) {
                input.setCustomValidity("Passwords do not match");
            } else {
                input.setCustomValidity("");
            }
        }
    }
</script>

<script src="/function/header_animation.js"></script>
<script src="/function/messages.js"></script>
<script src="/function/theme.js"></script>
<%- include('partials/live.ejs') %>
</body>
</html>